{% extends 'base.html' %}
{%load crispy_forms_tags%}


    {%block head%}
    <title>Edit Profile</title>
    {%endblock%}
{%block body%}
<div class="container">
<h1>Edit Profile</h1>
  <form method="POST">
{%csrf_token%}
<br>{{form|crispy}}
<button type="submit" name="button">Submit</button>
</form>
</div>

{%endblock%}
{%block login%}
{%endblock%}
{%block register%}
{%endblock%}
{%block view_posts%}
<a class="navbar-brand nav navbar-right" href="{% url 'blog:posts'%}">View Posts</a>  <!--this templating gives direct access to the url that is given name='register'-->
{%endblock%}
