<!DOCTYPE html>
{%extends 'base.html'%}
{% load crispy_forms_tags %}
<html>
  <head>
    <meta charset="utf-8">
    {%block head%}
    <title>Login</title>
    {%endblock%}

  </head>
  <body>
    {%block body%}
<div class="container">


          <h1>WELCOME!</h1>
<p1>
          You can login here!

</p1>
<h2>Login</h2>
<form method="post">
{%csrf_token%}
{{form|crispy}}
<br>
<button type="submit" class="btn btn-outline-primary">Login</button>
<br>
<br><h4><a class="link" href={%url 'reset_password'%}>Forgot password?</a></h4>
</form>
</div>
  {%endblock%}
  </body>
</html>
{%block logout%}
{%endblock%}
{%block profile%}
{%endblock%}
{%block home%}
{%endblock%}
{%block edit_profile%}
{%endblock%}
{%block change_password%}
{%endblock%}
