{% extends 'base.html' %}
<h1>Home</h1>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block head%}
    <title>Profile</title>
    {%endblock%}
{%block body%}
<div class="container">
<p>
  <h1>User Profile:</h1>
  <h3>UserName:{{user}}</h3>
  <h3>FirstName:{{user.first_name}}</h3>
  <h3>LastName:{{user.last_name}}</h3>
  <h3>Email:{{user.email}}</h3>

</p>
</div>

{%endblock%}

{%block login%}
{%endblock%}
{%block register%}
{%endblock%}
{%block view_posts%}
<a class="navbar-brand nav navbar-right" href="{% url 'blog:posts'%}">View Posts</a>  <!--this templating gives direct access to the url that is given name='register'-->
{%endblock%}
