
{%extends 'base.html'%}
{% block body %}
{%load crispy_forms_tags%}
<div class="container">


<h2><a href="/blog/{{post.id}}">{{ post.title }}</a></h2>
<h5> created by {{post.user}} on {{ post.created }}</h5>


</div>


{%endblock%}
{%block login%}
{%endblock%}
{%block register%}
{%endblock%}
{%block edit%}
<div class="container">



<div class="container">
<h1>Add Comments</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <br><input type="submit" value="Submit" />
</form>

</div>
<div class="container">
<hr>
<div class="container">



{%endblock%}
