{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	{%block head %}

	<title>Base</title>
	{%endblock%}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">TEST BLOG</a>
      {%block login%}
      <a class="navbar-brand nav navbar-right" href="{%url 'login'%}">Login</a>
      {%endblock%}
    </div>
    {%block register%}
  <a class="navbar-brand nav navbar-right" href="{% url 'register'%}">Register</a>  <!--this templating gives direct access to the url that is given name='register'-->
   {%endblock%}

   {%block logout%}
 <a class="navbar-brand nav navbar-right" href="{% url 'logout'%}">Logout</a>  <!--this templating gives direct access to the url that is given name='register'-->
  {%endblock%}
  {%block view_posts%}
  {%endblock%}
  {%block profile%}
  <a class="navbar-brand nav navbar-right" href="{%url 'view_profile'%}">Profile</a>
  {%endblock%}
  {%block home%}
  <a class="navbar-brand" href="{%url 'home'%}">Home</a>
  {%endblock%}
  {%block edit_profile%}
  <a class="navbar-brand nav navbar-right" href="{%url 'edit_profile'%}">Edit Profile</a>
  {%endblock%}
  {%block change_password%}
  <a class="navbar-brand nav navbar-right" href="{%url 'change_password'%}">Change Password</a>
  {%endblock%}
  {%block edit_post%}
  <a class="navbar-brand nav navbar-right" href="{%url 'post_edit'%}">Edit Posts</a>
  {%endblock%}
  </div>
</nav>

{%block body %}
{%endblock%}
</body>
</html>
